Repository tboulund-devops/WeatherForecast: changes, and which Jenkins stages are due for each by the changed paths.
All: Build frontend, Build API

Build frontend:
              steps {
                  sh "docker-compose build web"
              }
          

Build API:
              steps {
                  dir("API") {
                      sh "dotnet build --configuration Release"
                      sh "docker-compose build api"
                  }
              }
          

Got rid of dummy files
  API/test.txt
  Web/test.txt
Due: Build frontend, Build API

Added dummy file to backend
  BLL/test.txt
Due: Build API

Removed dummy file
  BLL/test.txt
Due: Build API

Introduced Docker compose
  Jenkinsfile
  docker-compose.yml
Due: none

Linked API and DB containers
  DAL/ForecastRepository.cs
  docker-compose.yml
Due: Build API

Linked API and DB containers
  Jenkinsfile
Due: none

Persist the database
  docker-compose.yml
Due: none

Only build API when neccesary
  Jenkinsfile
Due: none

Only build API when neccesary
  API/dummy.txt
Due: Build API

When-clause
  Jenkinsfile
  Web/index.html
Due: Build frontend

Optimized pipeline
  Jenkinsfile
Due: none

Changed background color
  Web/index.html
Due: Build frontend

Removed background color
  Web/index.html
Due: Build frontend

Made it push images to registry
  Jenkinsfile
  docker-compose.yml
Due: none

Made it push images to registry
  Jenkinsfile
Due: none

Made it push images to registry
  docker-compose.yml
Due: none

Introduced enviroments
  Jenkinsfile.prod
  docker-compose.yml
Due: none

Introduced enviroments
  Jenkinsfile
Due: none

Added env file
  .env.dev
Due: none

Moved environment configuration
  Jenkinsfile
  config/Prod.env
  config/Test.env
Due: none

Moved environment configuration
  Jenkinsfile
Due: none

Added a Jenkinsfile for prod
  Jenkinsfile.prod
Due: none

Fixing deploy to prod
  .env.dev
  Jenkinsfile.prod
  config/Prod.env
Due: none

Show docker configuration
  Jenkinsfile.prod
Due: none

Get DB connection from environment
  DAL/ForecastRepository.cs
  docker-compose.yml
Due: Build API

Get DB connection from environment
  Jenkinsfile
Due: none

Get DB connection from environment
  API/test.txt
Due: Build API

Get DB connection from environment
  Jenkinsfile.prod
Due: none

Get DB connection from environment
  docker-compose.yml
Due: none

Changed background color
  config/Prod.env
  config/Test.env
  docker-compose.yml
Due: none

Changed background color
  Web/Dockerfile
  docker-compose.yml
Due: Build frontend

Changed background color
  Web/Dockerfile
Due: Build frontend

Changed background color
  Web/expose-env.sh
Due: Build frontend

Path conditions:
  Build frontend: any of: Web/**
  Build API: ((any of: API/**) or (any of: BLL/**)) or (any of: DAL/**)
