Repository tboulund-devops/WeatherForecast: changes, and which Jenkins stages are due for each by the changed paths.
All: Build API, Build frontend

Build API:
              steps{
                  dir("API") {
                      sh "dotnet build --configuration Release"
                      sh "docker-compose build api"
                  }
              }
          

Build frontend:
              steps {
                  dir("Web") {
                      sh "docker-compose build web"
                  }
              }
          

Changed background color
  Web/Dockerfile
Due: Build frontend

Changed background color
  Web/expose-env.sh
Due: Build frontend

Changed background color
  Web/Dockerfile
  Web/expose-env.sh
Due: Build frontend

Dynamic API url
  Web/script.js
Due: Build frontend

Dynamic API url
  Web/index.html
Due: Build frontend

Introduced withCredentials
  Jenkinsfile
  Web/expose-env.sh
Due: Build frontend

Introduced withCredentials
  Jenkinsfile
Due: none

Discord notification
  Jenkinsfile
Due: none

Introduced credential
  Jenkinsfile
Due: none

Introduced environments
  Jenkinsfile
  config/Prod.env
  config/Test.env
  docker-compose.yml
Due: none

Pink background requested by Kristoffer
  Web/index.html
Due: Build frontend

Added prod pipeline
  Jenkinsfile.prod
Due: none

Added dummies
  API/dummy.txt
  Web/dummy.txt
Due: Build API, Build frontend

Pusing images to registry
  Jenkinsfile
  docker-compose.yml
Due: none

Pusing images to registry
  config/Test.env
  docker-compose.yml
Due: none

94 to production
  Jenkinsfile.prod
  config/Prod.env
Due: none

Pick a run when doing deploy to prod
  Jenkinsfile.prod
  config/Prod.env
Due: none

Changed bg to red because Peter suggested it
  Web/index.html
Due: Build frontend

Moved connection string to environment
  DAL/ForecastRepository.cs
  docker-compose.yml
Due: Build API

Exposing API URL to Web
  API/dummy.txt
  Web/Dockerfile
  Web/dummy.txt
  Web/expose-env.sh
  config/Prod.env
  config/Test.env
Due: Build API, Build frontend

Update Dockerfile
  Web/Dockerfile
Due: Build frontend

Path conditions:
  Build API: ((any of: API/**) or (any of: BLL/**)) or (any of: DAL/**)
  Build frontend: any of: Web/**
